/*Abigial Reyneke T251091*/
body{
    background: #121212;
    color: white;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}
.main-header{
    height: 20vh;
    background-color: #000033;
    background-size: cover;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}
nav{
    position: sticky;
    top: 0;
    z-index: 1000;
}
section{
    min-height: 100vh;
    padding: 100px 20px;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.app-container{
    max-width: 700px;
    margin: auto;
}
.about-box{
    background: #000033;
    padding: 30px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
}
.ul{
    list-style-position: inside;
}
.anime-card{
    background: #1f1f1f;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    animation: fadeIn 0.5s ease-in-out;
    justify-content: center;
    text-align: center;
}
.anime-card img{
    width: 100%;
    max-width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    transition: transform 0.3s ease;
}
.anime-card img:hover{

    transform: scale(1.05);
}
.anime-card{
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}